body{
    font-family: "Ubuntu Condensed", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif !important;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #294172 !important;
    color: #000000 !important;
    font-size: 18px !important;
    background-image: url(../img/bg.jpg) !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: cover !important;
}
h1{
    color: #ffffff !important;
}